*{
    margin:0;
    padding:0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    background-color: #e3e4e6;
}

.navigation{
    height: 80vh;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-evenly;    
    padding-top: 47px;
    padding-left: 8%;
    padding-right: 8%;
    border-bottom: 1px solid #1b1010;
    border-radius: 0;
    z-index: 1000;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    margin-bottom: 0;
    padding: 20px 0;

    
}
nav ul li{
    color: #000;
    list-style-type: none;
    display: inline-block;
    padding: 15px 10px;
    position: relative;
  
}
nav ul li a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px /1.8;
   

}
nav ul li a:hover{
    color: #f07167;
    transition: .4s;
}



.logo{
    color: #000;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: capitalize;
}




.text-intro{
    position: absolute;
    top: 30%;
    left: 8%;
    translate: translateY(-50%);
    text-align: center;
    margin: auto;
    width: 80%;
    padding: 30x;
}

h1{
    margin: 20px 0px 20px;
    font-size: 70px;
    justify-content: center;
    text-align: center;
    margin: auto;
}


h3{
    font-size: 25px;
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.container{
    padding-top: 50px;
    display: flex;
    max-width: 1600;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.carpt-text{
    background-color: #f07167;
}
.carp{
    background-color: #f07167;
}
.carp-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 25px 15px 15px;
}

.carp-container .carp-content{
    flex: 1;
    padding: 10px;;
}
 /* p{
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: opx;
}
  */
