*{
    margin:0;
    padding:0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    background-color: #22577a;
}

.navigation{

    height: 80vh;
    width: 100%;
}
nav{
    
    display: flex;
    align-items: center;
    justify-content:space-evenly;    
    padding-top: 47px;
    padding-left: 8%;
    padding-right: 8%;
    border-bottom: 1px solid #1b1010;
    border-radius: 0;
    z-index: 1000;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    margin-bottom: 0;
    padding: 20px 0;


    
}
nav ul li{

    color: #000;
    list-style-type: none;
    display: inline-block;
    padding: 15px 10px;
    position: relative;
  
}
nav ul li a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px /1.8;
   

}
nav ul li a:hover{
    color: #f07167;
    transition: .4s;
}



.logo{
    color: #000;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: capitalize;
}




.text-intro{
    position:absolute;
    top: 30%;
    left: 11%;
    translate: translateY(-50%);
    text-align: center;
    margin: auto;
    width: 80%;
    padding: 30x;
    
}

h1{
    margin: 20px 0px 20px;
    font-size: 70px;
    justify-content: center;
    text-align: center;
    margin: auto;
}


h3{
    font-size: 25px;
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
    margin: auto;
}
/*carp*/
.tex
.headtext{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 35px;
}
img{
    width: 500px;
    height: 670px;
}

.carp-section{
    display: flex;
    justify-content: flex-start;
  
    flex-wrap: wrap;
    padding: 15px 25px 15px 15px;
}
.mediacontent{
    text-align: justify;
   
   font-weight: 700;
    vertical-align: middle;
    flex-wrap: wrap;
    font-size: 115%;
}
.carp-section .mediacontent{
    flex: 1 ;
    padding:200px;
}

.re-img{
    width: 285px;
    height: 385px;
}

.re-section{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.re-design-txt{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
}
/*type*/
.headtext{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 35px;
    background-color: #003f88;
    opacity: .9;
    color: #ebebeb;
    width: 100%;
}

.main-con{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    max-width: 1450px;
    flex-wrap: wrap;
    margin: row;
    justify-content: space-evenly;
    margin: auto;
    grid-row: 4;
}
.grid-img{
    display: block;
   
}
.type.img{
    width: 400px;
    height:400px;
}
.type-container{
   font-size: 12px;
    text-align: center;
    color: #000;
    flex-wrap: wrap;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 300px;
    margin-bottom: 113px;
}
.type-text{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
