*{
    margin:0
    padding:0
}
body{
    background-color: #fefae0;
    color:#03071e;
    font:400 14px/1.8 "Roboto", sans-serif;

    position:relative;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.navigation{
    flex: 1;
   
    

   
}

.navigation ul li{
    color: #7a7a7a;
    list-style-type: none;
    display: inline-block;
    padding: 15px 10px;
    position: relative;
    font-weight: 400;
    
}

.navigation ul li a{
    color: #7a7a7a;
    text-decoration: none;
    font-size: 14px /1.8;
    font-weight: 700;

}
.navigation ul li a:hover{
    color: #0096c7;
    transition: .4s;
}

h1{
    margin: 20px 0px 20px;
    font-size: 65px;
    margin-top: 0px;
    text-align: justify;
}
h4{
    color: #7a7a7a;
    margin-bottom: 0px;
   
}